{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <h1 class="mt-4">TestFlask Demo Application</h1>
    <p>Test Flask is a simple flask application to show some parts of the openshift application process. It's been
        broken down into a series of modules that cover likely Openshift Use Cases</p>
    <p>Instructions for how to use the Application are available at <a
            href="https://github.com/MoOyeg/testFlask">Application github link</a></p>
    <p></p>
    <p>
    <dl>
        <dt>Application Configuration via Environment Variables</dt>
        <dd>- <a href="{{url_for('main.configuration')}}">Application Configuration Tab</a> [View Configured Enviroment
            Variables]</dd>
        <p></p>
        <dt>Simple Key-Value Database Use Case </dt>
        <dd>- <a href="{{url_for('main.notes')}}">Notes Tab</a> [Test Database Template on Openshift]</dd>
        <p></p>
        <dt>Health and Readiness Checks </dt>
        <dd>- <a href="{{url_for('main.health_status')}}" Application Health Tab</a> [Test Openshift Health and
                Readiness Checks]</dd>
    </dl>
    </p>
</div>

</html>

{% endblock %}