{% extends 'bootstrap/base.html' %}

{% block content %}
 
    <h1>Jennison Openshift Demo</h1>

    <h2> Active Configuration </h2>
      {% for configuration,value in configs.items() %}         
          <div><p>{{ configuration }}: {{ value }} </b></p></div>
      {% endfor %}

    <h2> Add Value to Database </h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.key.label }}<br>
            {{ form.key(size=32) }}
        </p>
        <p>
            {{ form.value.label }}<br>
            {{ form.value(size=32) }}
        </p>
        <p>{{ form.add() }}</p>
    </form>
 
    <h2> Database Value</h2>
    <table style= "border: 1px solid black; table-layout: auto; width: 750px;">
   <tr>
    <th>Timestamp</th>
    <th>Key</th>
    <th>Value</th>
    <th>Remove<th>
   </tr> 
    
      {% for key,value in db_value.items() %}  
      <tr>       
         <!--<div><p>Timestamp:{{ db_time[key] }} {{ key }}: {{ value }} </b></p></div> -->
        <td>{{ db_time[key] }}</td>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
        <td><a href={{ db_remove[key] }}>Remove</a></td>
      </tr>
      {% endfor %}

    </table>


{% endblock %}