{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">  -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block head %}
<div class="header">
    <!-- <img src="{{url_for('static', filename='red-hat-openshift-vector-logo.png')}}" alt="openshift_logo" /> -->
    <h1>TestFlask Demo Application </h1>
</div>
{% endblock %}

{% block content %}
   
    <h2> Active Configuration </h2>
      {% for configuration,value in configs.items() %}         
          <div><p>{{ configuration }}: {{ value }} </b></p></div>
      {% endfor %}

    <h2> Add Value to Database </h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.key.label }}<br>
            {{ form.key(size=32) }}
        </p>
        <p>
            {{ form.value.label }}<br>
            {{ form.value(size=32) }}
        </p>
        <p>{{ form.add() }}</p>
    </form>
 
    <h2> Database Value</h2>
    <table style= "border: 1px solid black; table-layout: auto; width: 750px;">
   <tr>
    <th>Timestamp</th>
    <th>Key</th>
    <th>Value</th>
    <th>Remove<th>
   </tr> 
    
      {% for key,value in db_value.items() %}  
      <tr>       
         <!--<div><p>Timestamp:{{ db_time[key] }} {{ key }}: {{ value }} </b></p></div> -->
        <td>{{ db_time[key] }}</td>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
        <td><a href={{ db_remove[key] }}>Remove</a></td>
      </tr>
      {% endfor %}  
    </table>

    <h2> Application Status </h2>
    <p> Application Ready?: {{ ready }}</p>
    <table style= "border: 1px solid black; table-layout: auto; width: 750px;">
    <th>Change Application Readiness</th>
    <tr>
    <td style="padding:0 15px 0 15px;"><a href={{ ready_url}}?status=down>DOWN </a></td>
    <td style="padding:0 15px 0 15px;"><a href={{ ready_url}}?status=up>UP</a></td>
    </tr>    
    </table>
 
    <p></p>
    <p> Application Healthy?: {{ health }}</p>
    <table>
    <table style= "border: 1px solid black; table-layout: auto; width: 750px;">
    <th>Change Application Health</th>
    <tr>
    <td style="padding:0 15px 0 15px;"><a href={{ health_url}}?status=down>DOWN </a></td>
    <td style="padding:0 15px 0 15px;"><a href={{ health_url}}?status=up>UP</a></td>
    </tr>
    </table>
{% endblock %}
